/* Bendras stilius: */






/* Lukas "news.php" stiliaus kodas: */





/* Sandra "galery.php" stiliaus kodas: */





/* Jurgita "about.php" stiliaus kodas: */

.about .breadcrumb-wrapper {
    margin-top: 20px;
}

.about .breadcrumb, .breadcrumb:before {
    color: navy;
    
}

.about {
    font-style: italic;
    color: navy;
}

.about h1 {
    text-align: center;
    color: navy;
}

.about img {
    width: 100%;
}

.about .tabs .tab a {
    color: navy;
}
.about .tabs .indicator {
    background-color: navy;
}

.map {
    width: 100%;
    height: 350px;
}
.about h5 {
     padding: 20px;
 }



/* Alyte "index.php" stiliaus kodas: */