/* Bendras stilius: */





/* Lukas "news.php" stiliaus kodas: */





/* Sandra "galery.php" stiliaus kodas: */





/* Jurgita "about.php" stiliaus kodas: */

.about {
    font-style: italic;
}

.map {
    width: 100%;
    height: 350px;
}




/* Alyte "index.php" stiliaus kodas: */